<%- include('header'); -%>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, reprehenderit velit. Perferendis similique quis
  earum provident? Laborum quisquam, sed vitae assumenda eum explicabo odit quas quia nulla? Consequatur, similique
  rerum!</p>
<p>Molestiae animi quisquam tenetur consectetur non praesentium harum eius, nesciunt doloremque facilis sit, delectus
  voluptas enim accusamus pariatur numquam sapiente voluptatibus voluptatem, perferendis optio? Provident nihil hic
  excepturi eligendi tempora.</p>
<p>Aliquid, consequuntur? Molestiae quas, in nemo delectus quam inventore, provident qui obcaecati eligendi, itaque
  omnis neque quae atque. Praesentium saepe cum beatae sunt qui nostrum fuga, iure ut corrupti adipisci!</p>
</div>
<div>
  <h2>New Person</h2>
  <table>
    <thead>
      <tr>
        <th scope="column">nom</th>
        <th scope="column">prenom</th>
        <th scope="column">code postal</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div>
  <p><a href="/Form" class="btn btn-primary">Acceder au formulaire</a></p>
</div>


<script src="/js/form-script.js" defer></script>
<%- include('footer') -%>
