body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.recherche{
    background-color:white;
    float:right;
}
.titre{
  background-color:#EEE;
}
.centre table th, td{
	text-align:center;
	border:1px solid black;
	padding:2px 2px;
}
legend {
  background-color: #000100;
  color: #fff;
  padding: 3px 3px;
}

.output {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: .4rem;
}
